<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <main>
      <section class="messages-board">
        <h2>Welcome to <%= title %></h2>
        <div class="send-msg">
          <a href="/new">
            Message
          </a>
        </div>
        <% messages.map((message) => { %>
          <div class="message">
            <p>User: <%= message.user %></p>
            <p>Message: <%= message.text %></p>
            <p>Date: <%= 
                        `${
                            message
                            .added
                            .toDateString('en-Us', options)
                          } 

                         ${
                            message
                            .added
                            .toLocaleTimeString([], { hour: "2-digit", minute: "2-digit" })
                          }` 
            %></p>
          </div>
        <% }) %>
      </section>
    </main>
  </body>
</html>
